<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="jsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsps/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="/ec" class="com.cognizant.Controller.EmployeeController">
	</bean>
	<bean id="/welcome" class="com.cognizant.Controller.WelcomeController">
	</bean>

</beans>
